.body_principal{
    background-color: #eff8ff;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary_button{
    margin-bottom: 5px;
}

.primary_button_2{
    margin-bottom: 5px;
}